@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red: #fc4747;
  --color-dark-blue: #10141e;
  --color-greyish-blue: #5a698f;
  --color-semi-dark-blue: #161d2f;

  --font-heading-lg: 2rem;
  --font-heading-md: 1.5rem;
  --font-heading-sm: 1.125rem;
  --font-body-md: 0.9375rem;
  --font-body-sm: 0.8125rem;

  --font-weight-light: 200;
  --font-weight-medium: 500;
}

body {
  background-color: var(--color-dark-blue);
  font-family: "Outfit", sans-serif;
  color: #fff;
}
