@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red: #fc4747;
  --color-dark-blue: #10141e;
  --color-greyish-blue: #5a698f;
  --color-semi-dark-blue: #161d2f;

  --font-heading-lg: 2rem;
  --font-heading-md: 1.5rem;
  --font-heading-sm: 1.125rem;
  --font-body-md: 0.9375rem;
  --font-body-sm: 0.8125rem;

  --font-weight-light: 300;
  --font-weight-medium: 500;

  --radius-xs: 0.375rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.625rem;
  --radius-lg: 1.25rem;
}

body {
  background-color: var(--color-dark-blue);
  color: #fff;
}

h2 {
  font-size: 1.125rem;
  font-weight: var(--font-weight-light);
  letter-spacing: -0.02rem;
}

h3 {
  font-size: var(--font-body-md);
  font-weight: var(--font-weight-medium);
}

@media (min-width: 768px) {
  h2 {
    font-size: var(--font-heading-lg);
    letter-spacing: normal;
  }

  h3 {
    font-size: var(--font-heading-sm);
  }
}
