.figure {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  width: 15rem;
  height: 8.75rem;
  border-radius: var(--radius-xs);
  overflow: hidden;
}

.figure :first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.figure > figcaption {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 100%;
  background-color: #fff;
}

.figure :last-child {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-dark-blue);
  opacity: 0.5;
  border-radius: 999999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
